div#taskList {
    background-color: gray;
    height: 70vh;
    width: 33vw;
    position: absolute;
    top: 10vh;
    left: 34vw;
}

div#taskList div {
    margin: 0;
    padding-left: 1em;
    background-color: lightgray;
    height: 7%;
    border: .001em solid white;
    font-size: 4vh;
}

div#taskList #title {
    font-weight: 900;
    background-color: dimgray;
    font-size: 4vh;
}

nav {
    text-align: right;
    background-color: white;
}

nav a {
    text-decoration: none;
}

.inactive {
    text-decoration: line-through;
}

div#newTask {
    padding: 0;
    background-color: pink;
}

div#newTask input,
div#newTask select {
    width: 40%;
    margin-bottom: 50%;
}

div#columnTitles p {
    display: inline;
    font-size: 0.8em;
}

.priority {
    margin-left: 18%;
}